@inject NavigationManager nav;
@inject Sports_Nutrition_Store_Blazor.Data.UserService service;
@page "/"
@using Sports_Nutrition_Store_Blazor.Data;
<body>
    <div class="Main">
        <div class="header">
           <img src="/Images/Лого-transformed-transformed.png"  class="Logo1"/>
           <input type="search" class="SearchBar" />
           <span class="Balance">
               <span class="BalanceText">
                   <label>
                       Баланс:
                   </label>
                   <label>
                       @Balance 
                   </label>
                   <label>RUB</label>
                   </span>
                <a href="" class="PlusBalance">
                    <label>Пополнить баланс</label>
                </a>
           </span>
           <div class="Nav">
               <span class="Catalog">
                   <span class="CatalogLogo">
                       <img src="/Images/1564497_basket_cart_food_grosseries_shop_icon.png" class="Basket"/>
                       <label>Каталог</label>
                   </span>
               </span>
               <span class="AboutCompany">
                   <span class="AboutCompanyLogo">
                        <img src="/Images/352432_info_icon.png" class="Basket" />
                        <label>О компании</label>
                   </span>
               </span>
               <span class="Login" @onclick="Login">
                   <span class="LoginLogo">
                        <img src="/Images/1564534_customer_man_user_account_profile_icon.png" class="Basket" />
                        <label>@User</label>
                   </span>
               </span>
           </div>
        </div>
        <div class="BodyForm">
            <div class="Plus">
                <h1 class="BestFood">Лучшее спортивное питание в Казани!</h1>
                <div class="PlusGroup">
                    <div class="FastDelivery">
                        <img src="/Images/6619719_and_delivery_ecommerce_fast_shopping_icon.png" />
                        <label>Быстрая доставка</label>
                    </div>
                    <div class="GoodFood">
                        <img src="/Images/6593914_and_broccoli_food_fruits_vegetable_icon.png" />
                        <label>Качественная продукция</label>
                    </div>
                    <div class="GoodResult">
                        <img src="/Images/7531266_biceps_muscle_anatomy_training_bodybuilder_icon.png" />
                        <label>Успешный результат</label>
                    </div>
                </div>
            </div>
            <div class="Products">
                <h1>Наша продукция:</h1>
                <div class="MainProducts">
                    <div class="ProteinAndDrink">
                        <div class="Protein">
                            <h2>Набор массы</h2>
                            <img src="/Images/whey-protein-funtion.jpg" />
                        </div>
                        <div class="Drink">
                            <h2>Спортивные напитки</h2>
                            <img src="/Images/1665886842_21-podacha-blud-com-p-sportivnie-napitki-krasivie-foto-27.jpg" />
                        </div>
                    </div>
                    <div class="CreatineAndBar">
                        <div class="Creatine">
                            <h2>Креатин</h2>
                            <img src="/Images/creatin_on_1.jpg" />
                        </div>
                        <div class="Bar">
                            <h2>Батончики и другие спортивные закуски</h2>
                            <img src="/Images/Proteinové-tyčinky-do-záhlaví.png" />
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn_MoveToCatalog">
                <h4>Перейти в каталог</h4>
             </button>
        </div>
    </div>
    <footer class="Footer">
        <img src="/Images/Лого-transformed-transformed.png" class="FooterLogo"/>
        <div class="SocNetwork">
            <h5>Наши соц-сети:</h5><br />
            <div class="Circles">
                <img src="/Images/unp6h58xr4fiscbc.png" class="Insta" />
                <a href="https://vk.com/po1son69"><img src="/Images/22842053.png" class="VK" /></a>
            </div>
        </div>
    </footer>
</body>


@code{
    private string? User = "Войти";
    private string? Balance = "0.0";

    private void Login()
    {
        if (User == "Войти")
        {
            nav.NavigateTo("/auth");
        }

        else
        {
            if (service.Role == "Клиент")
            {
                nav.NavigateTo("/ProCli");
            }

            else if (service.Role == "Админ")
            {
                nav.NavigateTo("/ProAdm");
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (service.Login != string.Empty)
        {
            User = service.Login;
            Balance = service.Balance.ToString();
        }
    }
}